/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-black: hsl(0, 0%, 0%);
  --clr-primary-gray: hsl(0, 0%, 30%);
  --clr-primary-light-gray: hsl(0, 0%, 60%);
  --clr-primary-very-light-gray: hsl(0, 0%, 90%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --ff-primary: 'Libre Baskerville', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25; */
  font-family: var(--ff-primary);
  font-weight: 700;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 24px;
  line-height: 29px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 14x;
  line-height: 28px;
}
.display {
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
  color: rgba(227, 230, 230, 0.7);
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Home Page
===============
*/
.main {
  max-width: var(--max-width);
}
.homepage-header {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start-slideshow-btn {
  border: transparent;
  background: transparent;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transition: var(--transition);
  margin-bottom: 0;
  cursor: pointer;
}
.start-slideshow {
  color: var(--clr-primary-light-gray);
  transition: var(--transition);
}
.start-slideshow:hover {
  color: var(--clr-primary-gray);
}
.gallery-container {
  width: 100vw;
  display: grid;
  justify-content: center;
}
.homepage-gallery-image {
  width: 90vw;
}
.single-gallery-image-container {
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.single-gallery-image-text {
  position: absolute;
  color: var(--clr-primary-very-light-gray);
  bottom: 2rem;
  left: 5%;
}
.single-gallery-image-text h1 {
  font-size: 2rem;
  line-height: 2rem;
}
.homepage-line {
  border-top: 2px solid var(--clr-primary-very-light-gray);
  margin-bottom: 1rem;
}
@media screen and (min-width: 780px) {
  .gallery-container {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .homepage-gallery-image {
    width: 45vw;
    min-height: 25rem;
    object-fit: cover;
  }
  .single-gallery-image-container {
    margin: auto;
  }
  .single-gallery-image-text {
    bottom: 10%;
    left: 5%;
  }
}
@media screen and (min-width: 980px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .navbar-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .start-slideshow-btn {
    margin-right: 4rem;
  }
  .homepage-gallery-image {
    width: 22vw;
    min-height: 30vh;
  }
  .single-gallery-image-text h1 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .single-gallery-image-text h3 {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
/*
=============== 
Slider Page
===============
*/
.slider-image-container {
  position: relative;
  display: grid;
  align-items: center;
  margin-bottom: 14rem;
}
.gallery-img {
  width: 90vw;
  height: 24rem;
  object-fit: cover;
  margin: 0 auto;
}
.view-image-btn {
  position: absolute;
  top: 5%;
  left: 10%;
  background: rgba(31, 32, 32, 0.8);
  color: var(--clr-primary-white);
  border: transparent;
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  transition: var(--transition);
  cursor: pointer;
}
.view-image-btn:hover {
  background: rgba(56, 58, 58, 0.8);
}
.view-image-btn-icon {
  background: rgba(31, 32, 32, 0.8);
  color: var(--clr-primary-white);
  font-size: 1.2rem;
  display: grid;
  place-items: center;
}
.view-image-btn p {
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}
.gallery-name-container {
  position: absolute;
  left: 5%;
  top: 85%;
  background: var(--clr-primary-white);
  padding: 2rem;
  padding-right: 5rem;
}
.gallery-name-container h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.gallery-name-container h3 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--clr-primary-light-gray);
}
.artist-img {
  position: absolute;
  left: 10%;
  top: 115%;
}
/* text info part */
.slider-info-container {
  padding: 2rem;
}
.text-container {
  position: relative;
  margin-top: 3rem;
}
.slider-year {
  position: absolute;
  font-size: 8rem;
  top: -30%;
  left: 30%;
  z-index: -1;
}
.gallery-text {
  color: var(--clr-primary-gray);
}
.source-btn {
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 3rem;
  cursor: pointer;
}

.source-btn-link {
  color: var(--clr-primary-light-gray);
  transition: var(--transition);
}
.source-btn-link:hover {
  color: var(--clr-primary-gray);
}
@media screen and (min-width: 780px) {
  .slider-image-container {
    margin-bottom: 8rem;
    max-width: var(--max-width);
  }
  .gallery-img {
    width: 70vw;
    height: 30rem;
    object-fit: cover;
    margin: 0;
    margin-left: 2rem;
  }
  .view-image-btn {
    top: 80%;
  }
  .gallery-name-container {
    left: 60%;
    top: 0%;
  }
  .gallery-name-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .artist-img {
    left: 75%;
    top: 50%;
  }
  /* text info part */
  .slider-info-container {
    padding: 0 8rem;
  }
  .text-container {
    margin-top: 0rem;
  }
  .slider-year {
    position: absolute;
    font-size: 10rem;
    top: -30%;
    left: -15%;
    z-index: -1;
  }
}
@media screen and (min-width: 980px) {
  .slider-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 4rem;
  }
  .slider-image-container {
    margin-bottom: 0rem;
  }
  .gallery-img {
    width: 30vw;
  }
  .slider-info-container {
    padding: 0 6rem;
    margin-top: 4rem;
  }
}

/*
=============== 
Lightbox Gallery
===============
*/
.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.lightbox-img {
  width: 90vw;
}
.inner-lightbox-container {
  width: 90vw;
  display: grid;
  justify-items: right;
  align-content: center;
}
.lightbox-close-btn {
  color: var(--clr-primary-very-light-gray);
  background: transparent;
  border: transparent;
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  margin-bottom: 2rem;
  align-content: right;
  cursor: pointer;
  transition: var(--transition);
}
.lightbox-close-btn:hover {
  color: var(--clr-primary-light-gray);
}
@media screen and (min-width: 780px) {
  .inner-lightbox-container {
    width: 80vw;
    display: grid;
    justify-items: right;
  }
  .lightbox-img {
    width: 80vw;
  }
}
@media screen and (min-width: 980px) {
  .inner-lightbox-container {
    width: 60vw;
    display: grid;
    justify-items: right;
  }
  .lightbox-img {
    width: 60vw;
    max-height: 35rem;
    object-fit: cover;
  }
}
