/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-black: hsl(0, 0%, 0%);
  --clr-primary-gray: hsl(0, 0%, 30%);
  --clr-primary-light-gray: hsl(0, 0%, 60%);
  --clr-primary-very-light-gray: hsl(0, 0%, 90%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --ff-primary: 'Libre Baskerville', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25; */
  font-family: var(--ff-primary);
  font-weight: 700;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 24px;
  line-height: 29px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 14x;
  line-height: 28px;
  margin-bottom: 1.25rem;
}
.display {
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
  color: var(--clr-primary-light-gray);
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Home Page
===============
*/
.homepage-header {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start-slideshow {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--clr-primary-light-gray);
  margin-bottom: 0;
}
.gallery-container {
  width: 100vw;
  display: grid;
  justify-content: center;
}
.homepage-gallery-image {
  width: 90vw;
}
.single-gallery-image-container {
  position: relative;
  margin-bottom: 1.5rem;
}
.single-gallery-image-text {
  position: absolute;
  color: var(--clr-primary-very-light-gray);
  bottom: 2rem;
  left: 5%;
}
.single-gallery-image-text h1 {
  font-size: 2rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 780px) {
  .gallery-container {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    justify-content: center;
    padding: 2rem;
  }
  .homepage-gallery-image {
    width: 45vw;
  }
  .single-gallery-image-text {
    bottom: 10%;
    left: 5%;
  }
}
